@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300&family=Inter:wght@200&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Varela&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: seagreen; */
    min-height: 100vh;
    background-image: url('background_image_registration.jpg');
    background-repeat: no-repeat;
    background-size: cover;

    height: 100%;
    width: 100%;

}


.wrapper {
    width: 440px;
    /* background-color: purple; */
    border-radius: 20px;
    backdrop-filter: blur(30px);
    color: #fff;
    border: 2px solid rgba(255, 255, 255, .2);

}


.wrapper h1 {
    font-size: 36px;
    text-align: center;
    /* margin: 20px; */
    padding: 20px;


}



.input-box {
    width: 420px;
    height: 43px;
    background: #F0F8FF;
    /* margin: 30px 0; */
    padding: 8px;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    margin: 16px;
    border-radius: 10px;
    color: black;
    font-weight: 500;
    font-family: 18px;

}


.common-style i {
    position: relative;
    right: 45px;
    color: grey;
}



.common-style {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 13px;


}

a {
    text-decoration: none;
    color: #fff;
    margin-left: 18px;
}

.forgot-remember {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin-right: 10px;
}

.forgot-remember input {
    cursor: pointer;
    color: blue;
}


.submit-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: 18px; */

}

.submit-btn button {
    margin: 18px;
    padding: 4px;
    height: 40px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 20px;

}

button:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}